<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="style.css">
  <title>To do List</title>
</head>
<body>


  <div class="container" id="app">
    
    <div class="input-wrapper">
      <input v-model.trim="toAdd.text" type="text" placeholder="Aggiungi qualcosa da fare">
      <button @click="addToDo">Aggiungi</button>
    </div>

    <div class="todo-list">
      <ul v-if="toDoList.length > 0">
        <li v-for="(toDo, index) in toDoList">
          <span
            :class="{'done' : toDo.done === true}"
          >{{toDo.text}}</span>
          <i
            @click="deleteToDo(index)" 
            class="fa-solid fa-xmark"></i>
        </li>
      </ul>
      <h1 v-else>Non ci sono cose da fare</h1>
    </div>
    

  </div>
  

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="script.js"></script>
</body>
</html>